/* Home.css */

.HomeContainer {
	display: flex;
	flex-direction: column;
	flex-flow: row wrap;
	position: absolute;
	top: 50%;
	left: 50%;
	height: 40%;
	width: 20%;
	flex-shrink: 1;
	transform: translate(-50%, -50%);
	text-align: left;
	font-family: "Overpass", Helvetica, sans-serif;
}

.Name {
	font-size: 3rem;
	font-weight: bold;
}
.About {
	color: #c094cc;
}

.Section {
	padding-bottom: 3rem;
}
.sectionText {
	font-size: 1.5rem;
	color: #7c7a7a;
	font-weight: 600;
}
a {
	color: #ff5d73;
	font-weight: bold;
	text-decoration: none;
}

a:hover {
	color: #454ade;
}

.Projects {
	text-align: center;
}

.Projects a {
	background-color: #000;
	color: #fff;
	padding: 1rem 2rem;
	border-radius: 0.5rem;
	cursor: pointer;
}

.projectNavlink {
	font-weight: bolder;
}

.sectionText {
	font-size: 1rem;
}
